# dependencies
/node_modules
/.pnp
.pnp.js
/.yarn

# testing
/coverage

# dist
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

serviceAccountKey.json
*.serviceAccountKey.json
firebase/serviceAccountKey.json
